<!--HTML native form-->
<!--<form action="/register" method="post">-->
  <!--<div>Username:<input type="text" required pattern="[a-zA-Z0-9]+"></div>-->
  <!--<div>Zipcode:<input type="number" min="00000" max="99999"></div>-->
  <!--<div>Password:<input type="password"></div>-->
  <!--<div>Confirm Password:<input type="password"></div>-->
  <!--<button type="submit">Register</button>-->
<!--</form>-->
<!--<app-template-form></app-template-form>-->
<!--<app-reactive-form></app-reactive-form>-->
<app-reactive-register></app-reactive-register>
